In [16]:
import boto3
import pickle
from dotenv import load_dotenv
import os
load_dotenv()

def load(bucket_name, model_path):
    s3_client = boto3.client(
        's3',
        aws_access_key_id=os.getenv('NOTEBOOK_ACCESS_KEY'),
        aws_secret_access_key=os.getenv('NOTEBOOK_ACCESS_KEY_SECRET')
    )   
    response = s3_client.get_object(Bucket=bucket_name, Key=model_path)
    model = pickle.loads(response['Body'].read())
    return model

Modelo cargado

In [17]:
bucket_name="chicago-inspections-analytics"
model_path="selected-model/select_model.pkl"
test_dataset_path="dataset/test/test_dataset.pkl"
test_target_path="dataset/test/test_target.pkl"
model=load(bucket_name, model_path)# Carga el modelo desde S3.
test_dataset=load(bucket_name,test_dataset_path)
test_target=load(bucket_name,test_target_path)

In [18]:
test_target.head()

151258    fail
151259    pass
151260    pass
151261    fail
151262    pass
Name: remainder__results, dtype: object

In [ ]:
# Convertir test_target (que es una Serie) a un DataFrame
test_target_df = test_target.to_frame()



# Ver las primeras filas del DataFrame
test_target_df.head()

       remainder__results
151258               fail
151259               pass
151260               pass
151261               fail
151262               pass

In [22]:
test_dataset.head(10)

,facility_type__facility_type_BANQUET HALL,facility_type__facility_type_Bakery,facility_type__facility_type_Catering,facility_type__facility_type_Children's Services Facility,facility_type__facility_type_GAS STATION,facility_type__facility_type_Golden Diner,facility_type__facility_type_Grocery Store,facility_type__facility_type_Hospital,facility_type__facility_type_Liquor,facility_type__facility_type_Long Term Care,...,risk__risk_medium,remainder__latitude,remainder__longitude,remainder__month,remainder__year,remainder__day_of_month,remainder__week_of_year,remainder__week_day,remainder__weekend,remainder__day_of_week
151258,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,41.9591,-87.682392,6,2018,14,24,1,0,3
151259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.886377,-87.624382,6,2018,14,24,1,0,3
151260,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,41.768926,-87.644656,6,2018,14,24,1,0,3
151261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.796235,-87.630405,6,2018,14,24,1,0,3
151262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.923473,-87.639349,6,2018,14,24,1,0,3
151263,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,41.878223,-87.634247,6,2018,14,24,1,0,3
151264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.852397,-87.668377,6,2018,14,24,1,0,3
151265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,41.880357,-87.662082,6,2018,14,24,1,0,3
151266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.893063,-87.628265,6,2018,14,24,1,0,3
151267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.822548,-87.616816,6,2018,14,24,1,0,3

In [28]:
predicciones = model.predict(test_dataset)

In [30]:
# Mapear las predicciones de 0 y 1 a 'fail' y 'pass'
predicciones_clasificadas = ['fail' if pred == 0 else 'pass' for pred in predicciones]

In [31]:
# Agregar las predicciones al DataFrame
test_dataset['predicciones'] = predicciones_clasificadas

In [32]:
# Contar las ocurrencias de "pass" y "fail"
conteo_predicciones = test_dataset['predicciones'].value_counts()

# Imprimir el conteo
print(conteo_predicciones)

predicciones
pass    64826
Name: count, dtype: int64

In [33]:
test_target_df.value_counts()

remainder__results
pass                  48496
fail                  16330
Name: count, dtype: int64